@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}
body {
  font-family: var(--font-primary);
}
